/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../fonts/montserrat-v25-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/montserrat-v25-latin-regular.woff')
      format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-500 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local(''), url('../fonts/montserrat-v25-latin-500.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/montserrat-v25-latin-500.woff')
      format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: local(''), url('../fonts/montserrat-v25-latin-italic.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/montserrat-v25-latin-italic.woff')
      format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --prymary-color: #4f4f4f;
  --secondary-color: #333333;
  --title-color: #f3b562;
  --accent-color: #647b64;

  --bg-color: #f3f1ee;
  --card-accent-color: #ffffff;
  --card-bg-gradient: linear-gradient(
      358.27deg,
      rgba(100, 123, 100, 0.77) -118.86%,
      rgba(100, 123, 100, 0) 25.62%,
      rgba(100, 123, 100, 0) 98.53%
    ),
    #ffffff;
  --footer-bg-color: #f0dcc5;
  --social-network-icon-bg: #dfd1c0;

  --btn-color: #fefefe;
  --btn-bg-color: linear-gradient(102.3deg, #647b64 -4.62%, #66ac66 178.22%),
    linear-gradient(102.3deg, #0bb1e3 -4.62%, #0f2976 178.22%), #0e70af;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--prymary-color);

  background-color: var(--bg-color);
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
  width: 1200px;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section {
  padding-top: 64px;
  padding-bottom: 64px;
}

.no-top-padding {
  padding-top: 0;
}

.section__title {
  margin-top: 0;
  margin-bottom: 8px;

  font-size: 24px;
  line-height: 1.33;
  text-transform: uppercase;
  color: var(--title-color);
}

.section__descr {
  margin-top: 0;
  margin-bottom: 40px;

  font-weight: 500;
  font-size: 36px;
  line-height: 1.33;
  text-transform: uppercase;
  color: var(--accent-color);
}

.section__text {
  margin-top: 0;
  margin-bottom: 40px;

  letter-spacing: 0.04em;
}

/* Button  */

.btn {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--btn-color);

  background: var(--btn-bg-color);
  border: none;

  cursor: pointer;
}

.site-nav__btn {
  padding: 12px 16px;

  border-radius: 3px;
}

.btn--primary {
  padding: 24px;

  text-transform: uppercase;
  border-radius: 2px;
}

.btn:hover,
.btn:focus {
  color: var(--accent-color);

  background: var(--btn-color);
  box-shadow: 0px 20px 40px rgba(128, 143, 150, 0.4);
}

.btn__icon {
  margin-left: 16px;
  fill: currentColor;
}

/* header  */

.page-header {
  padding-top: 48px;
  padding-bottom: 32px;
}

.page-header__container {
  display: flex;
  align-items: center;
  gap: 40px;
}

/* site-nav  */

.site-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.site-nav__logo {
  display: flex;
  align-items: center;
}

.site-nav__list {
  display: flex;
  gap: 40px;
}

.site-nav__link {
  position: relative;

  /* block  */
  display: block;
  text-decoration: none;
  color: var(--secondary-color);
}

.site-nav__link:hover::after,
.site-nav__link:focus::after,
.company-box__link:hover::after,
.company-box__link:focus::after,
.support-box__link:hover::after,
.support-box__link:focus::after {
  position: absolute;
  left: 0;
  bottom: 4px;

  content: '';
  display: block;
  height: 1px;
  width: 100%;

  background-color: var(--secondary-color);
}

/* Hero  */

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-box {
  max-width: 600px;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 24px;

  font-weight: 500;
  font-size: 36px;
  line-height: 1.33;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.hero__text {
  margin-top: 0;
  margin-bottom: 40px;

  letter-spacing: 0.04em;
}

/* Advantages and features */

.advantages-container {
  display: flex;
}

.advantages-box {
  max-width: 460px;
}

.advantages-list {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  row-gap: 42px;
  column-gap: 32px;
}

.advantages-list__link {
  padding: 32px 40px;
  max-width: 288px;

  border-radius: 8px;
}

.advantages-list__link,
.feature-list__link {
  display: block;

  text-decoration: none;
}

.advantages-list__link:hover,
.advantages-list__link:focus {
  background-color: var(--card-accent-color);
  box-shadow: 0px 5.87438px 31.33px rgba(155, 148, 148, 0.17);
}

.advantages-list__icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  width: 48px;
  height: 48px;

  color: var(--accent-color);

  background-color: var(--card-accent-color);
  border-radius: 8px;
}

.advantages-list__link:hover .advantages-list__icon-box,
.advantages-list__link:focus .advantages-list__icon-box {
  color: var(--card-accent-color);

  background-color: var(--accent-color);
}

.advantages-list__icon {
  fill: currentColor;
}

.advantages-list__title,
.feature-list__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  color: var(--secondary-color);
}

.advantages-list__title {
  margin-top: 0;
  margin-bottom: 8px;
}

.feature-list__title {
  margin-top: 0;
  margin-bottom: 16px;
}

.advantages-list__descr,
.feature-list__descr {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.04em;
  color: var(--prymary-color);
}

.feature-list {
  display: flex;
  justify-content: space-between;
  gap: 44px;
}

.feature-list__link {
  padding: 64px 50px 59px 50px;

  background: var(--card-bg-gradient);
  border-radius: 8px;
}

.feature-list__link:hover,
.feature-list__link:focus {
  background: var(--accent-color);
}

.feature-list__link:hover .feature-list__title,
.feature-list__link:focus .feature-list__title,
.feature-list__link:hover .feature-list__descr,
.feature-list__link:focus .feature-list__descr {
  color: var(--card-accent-color);
}

.feature-list__icon {
  display: block;
  margin-bottom: 32px;

  fill: var(--accent-color);
}

.feature-list__link:hover .feature-list__icon,
.feature-list__link:focus .feature-list__icon {
  fill: var(--card-accent-color);
}

/* About us  */

.about-us-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-us-box {
  max-width: 454px;
}

/* team  */

.team-list {
  display: flex;
  gap: 32px;
}

.team-list__item {
  padding: 24px 32px;

  background: var(--card-bg-gradient);
  border-radius: 8px;
}

.team-list__img {
  margin-bottom: 24px;
}

.team-list__descr {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 500;
  color: var(--secondary-color);
}

.team-list__title {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
}

.team-list__text {
  margin: 0;
  font-style: italic;
  letter-spacing: 0.04em;
}

/* footer  */

.page-footer {
  background-color: var(--footer-bg-color);
}

.page-footer__container {
  display: flex;
  justify-content: space-between;
  padding-top: 46px;
  padding-bottom: 50px;
}

.address-box {
  flex-grow: 1;
  max-width: 268px;
}

.page-footer__logo {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.address-box__text-box {
  margin-bottom: 24px;
}

.address-box__text:not(:last-child) {
  margin-top: 0;
  margin-bottom: 16px;
}

.address-box__text:last-child {
  margin-top: 0;
  margin-bottom: 0;
}

.address-list {
  display: flex;
  gap: 16px;
}

.address-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;

  color: var(--accent-color);

  background-color: var(--social-network-icon-bg);
  border-radius: 50%;
}

.address-list__link:hover,
.address-list__link:focus {
  color: var(--card-accent-color);

  background-color: var(--accent-color);
}

.address-list__icon {
  fill: currentColor;
}

.page-footer__link-box {
  display: flex;
}

.company-box,
.support-box {
  width: 168px;
}

.company-box {
  margin-right: 32px;
}

.company-box__text,
.support-box__text,
.form-footer__text {
  font-weight: 500;
  color: var(--accent-color);
}

.company-box__text,
.support-box__text {
  margin-top: 0;
  margin-bottom: 24px;
}

.company-box__item:not(:last-child),
.support-box__item:not(:last-child) {
  margin-bottom: 12px;
}

.company-box__link,
.support-box__link {
  position: relative;

  display: inline-block;

  text-decoration: none;
  color: var(--secondary-color);
}
